@import 'assets/scss/index.scss';

@font-face {
    font-family: 'Dosis';
    src: url('./assets/font/Dosis/Dosis-VariableFont_wght.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Dosis';
}

@keyframes show-out {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}