.add-coupon-wrapper {
    label {
        font-size: large;
        font-weight: bold;
        text-transform: capitalize;
    }

    input[type="text"],
    input[type="number"],
    input[type="date"],
    input[type="search"],
    select {
        padding: 5px;
        border: 1px solid #f1f1f1;
        border-radius: 5px;
        box-sizing: border-box;
        outline: none;
        max-width: 600px;
        height: 30px;
    }

    input[type="text"]:focus,
    input[type="number"]:focus,
    input[type="date"]:focus,
    input[type="search"]:focus,
    select:focus {
        border-color: #B0B435;
    }

    .field-wrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
        padding: 5px;

        select,
        input[type="date"] {
            align-self: flex-start;
        }
    }

    .time-wrapper,
    .decrease-wrapper {
        flex-direction: row;
        justify-content: flex-start;
    }

    .time-wrapper>*,
    .decrease-wrapper>* {
        margin-left: 5px;
    }

    .search-wrapper {
        input[type="search"] {
            min-width: min(300px, 100%);
        }

        .search-result {
            margin-top: 10px;
            max-width: min(300px, 100%);
            border: 1px solid #f1f1f1;
            border-radius: 8px;
            padding: 5px;
            box-sizing: border-box;
            box-shadow: 1px 1px 5px #eee;

            .search-result-item {
                padding: 5px;
                border-radius: 4px;
                box-sizing: border-box;
                cursor: pointer;
            }

            .search-result-item:hover {
                background-color: #e0e0e0;
            }
        }

        ul.choicese-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;

            li {
                display: flex;
                border: 1px solid #e0e0e0;
                color: #616161;
                border-radius: 10px;
                align-items: center;
                margin: 10px 10px 0 0;

                span,
                button {
                    margin: 2px 7px;
                }

                button.remove {
                    width: 18px;
                    height: 18px;
                    padding: 0;
                    margin: 0;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    transition: all .2s;
                    color: #818181;

                    svg {
                        height: 100%;
                        width: auto;
                    }
                }

                button.remove:hover {
                    scale: 1.2;
                    color: #333;
                }
            }
        }
    }

    button.add,
    a.back {
        text-align: center;
        padding: 5px 25px;
        height: 35px;
        box-sizing: border-box;
        text-decoration: none;
        background-color: white;
        color: black;
        cursor: pointer;
        transition: all .2s;
        margin: 20px 10px;
        display: inline-block;
        border: 1px solid;
        border-radius: 3px;
    }

    button.add {
        color: #B0B435;
    }

    a.back {
        color: #B0B4ff;
    }

    button.add:hover,
    a.back:hover {
        background-color: black;
    }
}