.suggestion-address {
    position: relative;

    .close-suggestion {
        position: absolute;
        top: 5px;
        right: 5px;
        border: none;
        background-color: transparent;
        z-index: 999;
    }
}