@import '../../../assets/scss/colors';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/misc';

.order-information {
    .information-field {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;

        span {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    button {
        @extend %nonBorderButton;
        background-color: $neutral-100;
        padding: 5px 10px;
        border-radius: $border-rounded-1;
        cursor: pointer;

        &.cancel {
            color: $slate-700;
        }

        &.verify,
        &.delivery,
        &.verifyReceived {
            color: $green-500;
        }

        &:disabled {
            color: $gray-300;
        }
    }
}

ul.order-products {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        display: grid;
        grid-template-columns: 80px auto;
        margin: 10px 0;

        img {
            border-radius: 8px;
        }
    }
}