form.find-order-form {
    display: flex;
    gap: 10px;

    input {
        padding: 5px;
        border: 1px solid #f1f1f1;
        border-radius: 5px;
        box-sizing: border-box;
        outline: none;
        max-width: 600px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.find-order-result {
    margin-top: 1rem;
}