svg#logo-loading {
    $loading-size: 50px;
    margin: calc((100vh - $loading-size) / 2) calc((100vw - $loading-size) / 2);
    height: $loading-size;
    width: $loading-size;
    box-sizing: border-box;
    color: lightcyan;

    path {
        animation: logo-loading 1s infinite;
    }
}

@keyframes logo-loading {
    1% {
        d: path("M2 12H17.51M17.79 10.47V17.79C17.79 18.9066 17.3464 19.9774 16.5569 20.7669C15.7674 21.5565 14.6966 22 13.58 22H6.21C3.89 22 2 20.11 2 17.79V10.47C2 9.35345 2.44355 8.28262 3.23308 7.49309C4.02261 6.70356 5.09344 6.26001 6.21 6.26001H13.58C15.9 6.26001 17.79 8.15001 17.79 10.47ZM22 13.16C22 15.48 20.11 17.37 17.79 17.37V8.95001C18.3429 8.95001 18.8903 9.0589 19.4011 9.27048C19.9119 9.48205 20.376 9.79216 20.7669 10.1831C21.1579 10.574 21.468 11.0381 21.6795 11.5489C21.8911 12.0597 22 12.6071 22 13.16Z")
    }

    25% {
        d: path("M5.5 4V2.25M2 12H17.51M17.79 10.47V17.79C17.79 18.9066 17.3464 19.9774 16.5569 20.7669C15.7674 21.5564 14.6966 22 13.58 22H6.21C3.89 22 2 20.11 2 17.79V10.47C2 9.35344 2.44355 8.28261 3.23308 7.49308C4.02261 6.70355 5.09344 6.26 6.21 6.26H13.58C15.9 6.26 17.79 8.15 17.79 10.47ZM22 13.16C22 15.48 20.11 17.37 17.79 17.37V8.95C18.3429 8.95 18.8903 9.05889 19.4011 9.27047C19.9119 9.48204 20.376 9.79215 20.7669 10.1831C21.1579 10.574 21.468 11.0381 21.6795 11.5489C21.8911 12.0597 22 12.6071 22 13.16Z")
    }

    50% {
        d: path("M5.5 4V2.25M9.5 4V2.25M2 12H17.51M17.79 10.47V17.79C17.79 18.9066 17.3464 19.9774 16.5569 20.7669C15.7674 21.5564 14.6966 22 13.58 22H6.21C3.89 22 2 20.11 2 17.79V10.47C2 9.35344 2.44355 8.28261 3.23308 7.49308C4.02261 6.70355 5.09344 6.26 6.21 6.26H13.58C15.9 6.26 17.79 8.15 17.79 10.47ZM22 13.16C22 15.48 20.11 17.37 17.79 17.37V8.95C18.3429 8.95 18.8903 9.05889 19.4011 9.27047C19.9119 9.48204 20.376 9.79215 20.7669 10.1831C21.1579 10.574 21.468 11.0381 21.6795 11.5489C21.8911 12.0597 22 12.6071 22 13.16Z");
    }

    75% {
        d: path("M5.5 4V2.25M9.5 4V2.25M13.5 4V2.25M2 12H17.51M17.79 10.47V17.79C17.79 18.9066 17.3464 19.9774 16.5569 20.7669C15.7674 21.5564 14.6966 22 13.58 22H6.21C3.89 22 2 20.11 2 17.79V10.47C2 9.35344 2.44355 8.28261 3.23308 7.49308C4.02261 6.70355 5.09344 6.26 6.21 6.26H13.58C15.9 6.26 17.79 8.15 17.79 10.47V10.47ZM22 13.16C22 15.48 20.11 17.37 17.79 17.37V8.95C18.3429 8.95 18.8903 9.05889 19.4011 9.27047C19.9119 9.48204 20.376 9.79215 20.7669 10.1831C21.1579 10.574 21.468 11.0381 21.6795 11.5489C21.8911 12.0597 22 12.6071 22 13.16V13.16Z");
    }
}