.alert-wrapper {
    position: fixed;
    left: 30px;
    bottom: 30px;
    background-color: black;
    padding: 5px 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    z-index: 100;

    .content {
        flex-grow: 1;
        margin: 5px;
    }

    .close-button {
        border: none;
        height: 24px;
        width: 24px;
        cursor: pointer;
        background-color: inherit;
        color: inherit;
        transition: all .3s;
        padding: 0;
        margin-left: 10px;
    }

    .close-button:hover {
        color: #B0B443;
    }
}