h2.title {
    display: flex;
    font-size: 1.2rem;

    a {
        color: black;
        text-decoration: none;
    }

    .main {
        color: #777;
    }

    .slug {
        margin: 0 3px;
    }
}

.no-category {
    margin-top: 30px;
}

.sort-selections {
    padding: 5px 10px;
    box-sizing: border-box;
    border-width: 0 0 1px 0;
    border-color: #eee;
}

@media (max-width: 739px) {
    h2.title {
        margin-left: 10px;
    }
}